div.contest
  div.contest__content.contest__min-width
    div.contest__inner
      div.contest__title-section
        h2 Условия задач

      div(ng-repeat='condition in conditions')
        a(ui-sref='^.conditions-item({problemIndex: condition.internal_index})') {{condition.internal_index + '. ' + condition.title}}