h3 Contests!
a(ui-sref='contests.list') Test
a(ui-sref='contests.list.pagination({pageNumber:12})') Test
a(ui-sref='contests.list.pagination({pageNumber:122})') Test
a(ui-sref='contests.list.pagination({pageNumber:1222})') Test
a(ui-sref='contests.list.pagination({pageNumber:12222})') Test
a(ui-sref='contests.item({contestId:2})') Contest 2