include mixins/mixins
  
doctype html
html(ng-controller='PageCtrl', manifest='/manifest.appcache')
  head
    base(href='/')
    include index/head
    //include metrics/yandex
  body(ng-controller='AppCtrl', insert-chat-sidenav, ng-cloak)
    block content
