div.header__wrapper
  div.header__inner
    a.link.logo(ui-sref='contests.list', ng-click='logoClick($event)')
      div.logo__content
        div.logo__image-wrapper
          img.img.logo__img(src='/img/acm-logo-small.png')
        span.logo__text MISIS Acm Server
    include ./profile
    include ./chat
div.header__contest-menu.contest-menu(ng-if='headerMenu.contest')
  div.contest-menu__layer
    div.contest-menu__items
      a.contest-menu__item(ui-sref='^.item', ui-sref-active='contest-menu__item_state_active') Информация
      a.contest-menu__item(ui-sref='^.monitor', ui-sref-active='contest-menu__item_state_active') Таблица результатов
      a.contest-menu__item(ui-sref='^.conditions', ui-sref-active='contest-menu__item_state_active') Условия задач
      a.contest-menu__item(ui-sref='^.send', ng-class='{"contest-menu__item_state_active": $state.includes("contest.send-item") || $state.includes("contest.send")}', ng-if='headerMenu.contest.status !== "FINISHED"') Отправить
      a.contest-menu__item(ui-sref='^.status({select: "my"})', ng-class='{"contest-menu__item_state_active": $state.includes("contest.status")}') Посылки

