div.header__profile.profile(ng-if='isAuth')
  md-menu(md-offset="0 79")
    div.profile__panel(ng-click="$mdOpenMenu($event)")
      div.profile__name(ng-bind='user.first_name + " " + user.last_name')
    md-menu-content(width="4")
      div(ng-repeat="item in menuList", ng-switch='item.type', ng-if='!item.onlyFor || item.onlyFor === user.access_group.access_level')
        div(style='height: 6px;', ng-switch-default)
          md-menu-divider(style='display: block;')
        md-menu-item(ng-switch-when='item')
          md-button(ng-click="profileItemClick($event, item, $index)", aria-label='Menu item')
            md-icon(md-svg-src="{{item.iconSrc}}")
            span(ng-bind='item.name')
