div.contest
  div.contest__content
    div.contest__inner
      div.contest__title-section
        h2.contests-list__title.admin-title Панель администратора

      div.admin-content
        div.admin-content__menu
          admin-menu

        div.admin-content__inner
          div.ui-view
  page-footer