div.admin-content-layer(style='padding: 0')
  div.admin-content-layer__inner

    md-tabs(md-dynamic-height, md-border-bottom)
      md-tab(label='Сканирование')
        md-content.md-padding
          div.contest-creation
            div.contests-list__title Сканирование задач

            h3 Не делайте слишком часто обновления!
            div(style='line-height: 1.6;')
              div (Приемлемая частота 1 раз в неделю для каждой системы)
              div Сканирование не рекомендуется делать во время активного контеста во время отправок пользователей.
            div(style='padding: 30px;')
              div(ng-if='loading') Идет сканирование. Сканирование может происходить около 5 минут.
              div
                md-button.md-primary.md-raised(ng-disabled='loading', ng-click='scan("timus")', aria-label='Scan timus') Сканировать Timus
              div
                md-button.md-primary.md-raised(ng-disabled='loading', ng-click='scan("cf:problemset")', aria-label='Scan cf problemset') Сканировать Codeforces (Архив)
              div
                md-button.md-primary.md-raised(ng-disabled='loading', ng-click='scan("cf:gym")', aria-label='Scan cf gyms') Сканировать Codeforces (Тренировки)
              div
                md-button.md-primary.md-raised(ng-disabled='loading', ng-click='scan("acmp")', aria-label='Scan acmp') Сканировать ACMP.ru
              div
                md-button.md-primary.md-raised(ng-disabled='loading', ng-click='scan("sgu")', aria-label='Scan sgu') Сканировать SGU

            div(ng-if='result')
              div Обновлено и добавлено: {{result.all_items_count}} задач.

      md-tab(label='Редактирование')
        md-content.md-padding
          include ./problems/index

      md-tab(label='Добавить задачу (ejudge)')
        md-content.md-padding
          include ./problems/create