div.admin-content-layer
  div.admin-content-layer__inner

    div.contest-creation
      div.contests-list__title Управление сервером

      div
        md-button.md-primary.md-raised(ng-disabled='loading', ng-click='restart()', aria-label='Server restart') Перезапустить сервер