div.contests-list__item-layer.admin-contests__contest-item
  div.contests-list__item.contest-item
    div.contest-item__title {{user.first_name + " " + user.last_name}}
    span {{"Логин: " + user.username}}
    //div Количество вердиктов «Accepted»: {{user.rate}}
    div.admin-contests__buttons
      div.admin-contests__button-wrap
        md-button.admin-contests__button(ui-sref='admin.edit-user({userId: user.id})') Редактировать
      div.admin-contests__button-wrap
        md-button.admin-contests__button.md-accent(ng-click='deleteUser(user)') Удалить