$media: screen;
$laptop_min_width: 1024px;
$phone_max_width: 799px;
$phone_min_width: 300px;


@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin box-sizing($param) {
  -webkit-box-sizing: $param;
  -moz-box-sizing: $param;
  box-sizing: $param;
}
@mixin transition($params...) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
  transition: $params;
}

body, html {
  background: #F6F6F6 !important;
  min-height: 100% !important;
}

.debug {
  @include box-sizing(border-box);
  border: 1px solid #000;
  background: #00A000;
}
.header {
  display: block;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 1px 0 2px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  -webkit-transform: translateZ(0);
}
.header__wrapper {
  height: 100%;
  position: relative;
}
.header__inner {
  height: 100%;
  padding: 17px 32px 15px;
  box-sizing: border-box;
}
.link {
  color: #2d7eb4;
}
.link:hover {
  color: rgba(45, 126, 180, 0.78);
}
.logo {
  text-decoration: none;
  display: inline-block;
}
.img {
  border: 0;
}
.logo__img {
  width: 106px;
  position: relative;
  top: -4px;
}
.logo__text, .logo__image-wrapper {
  display: inline-block;
  vertical-align: top;
}
.logo__text {
  padding: 18px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}
.header__profile {
  float: right;
  height: 100%;
}
.profile__panel {
  padding: 21px;
  cursor: pointer;
  border-radius: 4px;
  color: #53889E;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.profile__panel:hover {
  background-color: rgba(0,0,0,0.05);
}
.profile__name {
  font-size: 18px;
}
.page {
  padding-top: 100px;
  display: block;
}
.page__wrapper {
  padding: 24px;
  position: relative;
}
.page__inner {
  width: 75%;
  margin: 0 auto;
  min-width: 1024px;
}
.auth-form {
  width: 490px;
  margin: 20px auto;
  background: #fff;
  padding: 48px;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
}
.auth-form__row .md-button {
  margin: 0;
}
.auth-form__row {
  margin-bottom: 0;
}
.auth-form__title-text {
  font-size: 27px;
  font-weight: bold;
}
.auth-form__title {
  text-align: center;
  margin-bottom: 15px;
}
.page__loading {
  position: fixed;
  z-index: 80;
}
.content-spin__layer {
  text-align: center;
  border-radius: 100%;
  padding: 8px;
}
.search-spin-layer, .search-spin-layer_ {
  height: 100px;
  width: 100px;
  -webkit-transition: -webkit-transform .15s linear;
  transition: transform .15s linear;
  -moz-transition: transform .15s linear;
  display: inline-block;
}
.search-spin {
  border: 2px solid #2196F3;
  border-top-color: rgba(0, 0, 0, 0);
}
.search-spin {
  height: 100%;
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
  -webkit-transition: -webkit-transform .15s linear,border .15s linear;
  transition: transform .15s linear,border .15s linear;
  -moz-transition: -moz-transform .15s linear,border .15s linear;
  border: 2px solid #2196F3;
  border-top-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  -webkit-animation: spinner .6s infinite ease;
  -moz-animation: spinner .6s infinite ease;
  -ms-animation: spinner .6s infinite ease;
  animation: spinner .6s infinite ease;
}
@-moz-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}
}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
   100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}
 }@-o-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}
  }@-ms-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
     100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}
   }@keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
      100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}}

.page-loading {
  padding-top: 100px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
.page-loading__content {
  padding: 100px;
}
.pagination {
  text-align: center;
}
.pagination__item {
  display: inline-block;
  padding: 0;
  min-width: 40px;
  margin: 4px;
}
.contests-sort__item {
  display: inline-block;
  padding: 0 10px;
  text-align: left;
  min-width: 100px;
}
.contests-sort {
  text-align: right;
}
.standart-layer {
  background-color: #fff;
  padding: 24px;
  min-width: 900px;
  width: 66%;
  margin: 0 auto;
  border-radius: 3px;
}
.contests-list__title {
  text-align: center;
  font-size: 28px;
  padding: 10px 0 20px;
}
.contests-list__items {
  padding: 0 0 20px 0;
}
.contests-list__item {
  padding: 24px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #7A7A7A;
  border-bottom: 1px solid #EBEBEB;
  border-radius: 3px;
}
.contests-list__item:hover {
  background-color: rgba(0,0,0,0.07);
}
contest-list-item {
  display: block;
}
.contest-item {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contest-item__title {
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2196F3;
}
my-timer-element {
  display: inline-block;
}
.contest-item__status-time {
  margin-left: 4px;
}
.contests-list__item-layer {
  position: relative;
}
.contests-list__item-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}
.contests-list__no-items {
  padding: 17px 0;
  text-align: center;
  color: #777;
}
.content-spin__layer {
  text-align: center;
  border-radius: 100%;
  padding: 8px;
}
.contests-list__item-loading {
  padding: 35px 0;
  box-sizing: border-box;
}
.contests-list__item-loading .search-spin-layer_ {
  width: 50px;
  height: 50px;
}
.contests-list__item_status_removed {
  color: rgba(253, 59, 50, 0.76);
  font-weight: bold;
}
.contests-list__item_status_success {
  color: rgba(78, 152, 113, 0.76);
  font-weight: bold;
}
.contests-list__item_status_neutral {
  color: rgba(255, 142, 53, 0.76);
  font-weight: bold;
}
.contest-item__groups-for, .contests-list__groups-item {
  display: inline-block;
  margin: 3px 10px 9px 0;
}
.contests-list__groups-item {
  border-radius: 3px;
  background-color: rgba(77, 170, 102, 0.75);
  color: #fff;
  padding: 7px 10px;
  font-size: 12px;
}
.contests-list__item-layer {
  outline: none;
}