$media: screen;
$laptop_min_width: 1024px;
$phone_max_width: 799px;


@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin box-sizing($param) {
  -webkit-box-sizing: $param;
  -moz-box-sizing: $param;
  box-sizing: $param;
}
@mixin transition($params...) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
  transition: $params;
}

body, html {
  background: #F4F4F4 !important;
  min-height: 100% !important;
}

.debug {
  @include box-sizing(border-box);
  border: 1px solid #000;
  background: #00A000;
}
.header {
  display: block;
  height: 90px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 77;
  -webkit-transform: translateZ(0);
}
.header__wrapper {
  height: 100%;
  position: relative;
}
.header__inner {
  height: 100%;
  padding: 12px 32px 15px;
  box-sizing: border-box;
  min-width: 800px;
}
.link {
  color: #219CF5;
}
.link:hover {
  color: rgba(45, 126, 180, 0.78);
}
.logo {
  text-decoration: none;
  display: inline-block;
}
.img {
  border: 0;
}
.logo__img {
  width: 96px;
  position: relative;
  top: 1px;
}
.logo__text, .logo__image-wrapper {
  display: inline-block;
  vertical-align: top;
}
.logo__text {
  padding: 18px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}
.header__profile {
  float: right;
  height: 100%;
}
.profile__panel {
  padding: 21px;
  cursor: pointer;
  border-radius: 4px;
  color: #219CF5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.profile__panel:hover {
  background-color: rgba(0,0,0,0.05);
}
.profile__name {
  font-size: 18px;
}
.page {
  padding-top: 90px;
  display: block;
}
.page__wrapper {
  padding: 24px;
  position: relative;
}
.page__inner {
  width: 75%;
  margin: 0 auto;
  min-width: 1024px;
}
.auth-form {
  width: 490px;
  margin: 20px auto;
  background: #fff;
  padding: 48px;
  box-shadow: 0 1px 1px 0px rgba(0,0,0,0.3);
  border-radius: 5px;
}
.auth-form__row .md-button {
  margin: 0;
}
.auth-form__row {
  margin-bottom: 0;
}
.auth-form__title-text {
  font-size: 27px;
  font-weight: bold;
}
.auth-form__title {
  text-align: center;
  margin-bottom: 15px;
}
.page__loading {
  position: fixed;
  z-index: 80;
}
.content-spin__layer {
  text-align: center;
  border-radius: 100%;
  padding: 8px;
}
.search-spin-layer, .search-spin-layer_ {
  height: 100px;
  width: 100px;
  -webkit-transition: -webkit-transform .15s linear;
  transition: transform .15s linear;
  -moz-transition: transform .15s linear;
  display: inline-block;
}
.search-spin {
  border: 2px solid #2196F3;
  border-top-color: rgba(0, 0, 0, 0);
}
.search-spin {
  height: 100%;
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
  -webkit-transition: -webkit-transform .15s linear,border .15s linear;
  transition: transform .15s linear,border .15s linear;
  -moz-transition: -moz-transform .15s linear,border .15s linear;
  border: 2px solid #2196F3;
  border-top-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  -webkit-animation: spinner .6s infinite ease;
  -moz-animation: spinner .6s infinite ease;
  -ms-animation: spinner .6s infinite ease;
  animation: spinner .6s infinite ease;
}
@-moz-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}
}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
   100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}
 }@-o-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}
  }@-ms-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
     100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}
   }@keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}
      100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}}

.page-loading {
  padding-top: 100px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-loading__content {
  padding: 100px;
}
.pagination {
  text-align: center;
}
.pagination__item {
  display: inline-block;
  padding: 0;
  min-width: 40px;
  margin: 4px;
}
.contests-sort__item {
  display: inline-block;
  padding: 0 10px;
  text-align: left;
  min-width: 100px;
}
.contests-sort {
  text-align: right;
}
.standart-layer {
  background-color: #fff;
  padding: 24px;
  min-width: 900px;
  width: 66%;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.contests-list__title {
  text-align: center;
  font-size: 28px;
  padding: 10px 0 20px;
}
.contests-list__items {
  padding: 0 0 20px 0;
}
.contests-list__item {
  padding: 24px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #7A7A7A;
  border-bottom: 1px solid #EBEBEB;
  border-radius: 3px;
}
.contests-list__item:hover {
  background-color: rgba(0,0,0,0.07);
}
contest-list-item {
  display: block;
}
.contest-item {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.contest-item__title {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2196F3;
}
my-timer-element {
  display: inline-block;
}
.contest-item__status-time {
  margin-left: 4px;
}
.contests-list__item-layer {
  position: relative;
}
.contests-list__item-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}
.contests-list__no-items {
  padding: 17px 0;
  text-align: center;
  color: #777;
}
.content-spin__layer {
  text-align: center;
  border-radius: 100%;
  padding: 8px;
}
.contests-list__item-loading {
  padding: 35px 0;
  box-sizing: border-box;
}
.contests-list__item-loading .search-spin-layer_ {
  width: 50px;
  height: 50px;
}
.contests-list__item_status_removed {
  color: rgba(253, 59, 50, 0.76);
  font-weight: bold;
}
.contests-list__item_status_success {
  color: rgba(78, 152, 113, 0.76);
  font-weight: bold;
}
.contests-list__item_status_neutral {
  color: rgba(255, 142, 53, 0.76);
  font-weight: bold;
}
.contest-item__groups-for, .contests-list__groups-item {
  display: inline-block;
  margin: 3px 10px 9px 0;
}
.contests-list__groups-item {
  border-radius: 3px;
  background-color: rgba(77, 170, 102, 0.75);
  color: #fff;
  padding: 7px 10px;
  font-size: 0.7em;
}
.contests-list__item-layer {
  outline: none;
}
.contest-menu__items {
  white-space: nowrap;
}
.contest-menu__item {
  text-decoration: none;
  color: #219CF5;
  padding: 13px 20px 14px;
  display: inline-block;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.contest-menu__item_state_active {
  box-shadow: inset 0 -3px 0 #219CF5;
}
.contest-menu__item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.contest-menu {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid #e1e1e1;
}
.contest-menu__layer {
  width: 75%;
  margin: 0 auto;
  min-width: 1024px;
  padding: 0 19px;
  box-sizing: border-box;
}
.contest {
  margin-top: 48px;
}
.contest__content {
  padding: 24px;
  background-color: #fff;
  min-width: 900px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.contest__min-width {
  width: 66%;
}
.contest__info-layer h3 {
  color: #219CF5;
  text-align: center;
}
.contest__info-cell {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.contest__info-row {
  border-bottom: 1px solid #ccc;
  padding: 13px 40px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.contest__info {
  width: 66%;
  margin: 0 auto;
  padding: 20px 0;
}
.contest__info-cell:first-child(1) {
  color: #777;
}
.contest__info-row:first-child {
  border-top: 1px solid #ccc;
}
.contest__title-section {
  text-align: center;
}
.task__title {
  font-size: 18px;
  white-space: nowrap;
}
.task__title-link {
  display: inline-block;
  text-decoration: none;
  color: #219CF5;
  font-size: 18px;
}
.task__title-delimiter {
  display: inline-block;
  margin: 0 10px;
}
.task__title-index {
  display: inline-block;
}

.task__problem {
  overflow: hidden;
  text-align: justify;
  line-height: 1.6 !important;
  margin-top: 10px;
}
.task__problem-timus {
  .sample {
    border-collapse: collapse;
    border-color: #777;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  th, td {
    border: 1px solid #777;
    padding: 5px 10px;
    vertical-align: top;
    .intable {
      white-space: pre-line;
      margin: 0;
    }
  }
  th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.1px;
    padding: 10px;
  }
  td:first-child {
    padding-left: 2px;
  }
  .problem_par_normal {
    text-align: justify;
    line-height: 1.6;
  }
  .problem_subtitle {
    color: #219CF5;
  }
  .problem_title {
    color: #219CF5;
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }
  .problem_limits {
    color: #777;
    font-size: 14px;
    margin-bottom: 31px;
    text-align: center;
  }
  .problem_source {
    margin-top: 20px;
  }
  .problem_centered_picture {
    text-align: center;
    margin: 10px 0;
    img {
      max-width: 100%;
    }
  }
}

.task__problem-cf {
  .task__my-problem-statement {

    .task__my-title {
      color: #219CF5;
      margin: 0;
      padding: 20px 0;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    .task__my-property-title {
      color: #474747;
      line-height: 1;
      margin-top: 4px;
      font-size: 1.1em;
    }
    .task__my-header {
      text-align: center;
      font-size: 12px;
      color: #999;
    }
    .task__my-sample-tests {
      .task__my-title {
        font-size: 16px;
        text-align: left;
      }
    }
    .task__my-input-specification, .task__my-sample-tests,
    .task__my-output-specification, .task__my-note {
      .task__my-section-title {
        font-size: 20px;
        text-align: left;
        color: #219CF5;
        margin: 0;
        padding: 20px 0;
        font-weight: bold;
      }
    }
    .task__my-input, .task__my-output {
      border: 1px solid #777;
      .task__my-title {
        border-bottom: 1px solid #777;
        padding: 11px 10px;
        background-color: rgba(205, 205, 205, 0.1);
      }
      pre {
        margin: 2px 1px;
      }
    }
    .task__my-output {
      margin: 10px 0;
    }
    .task__my-note {
      margin: 10px 0;
    }
  }
}
.task__problem-sgu {
  h3, h4 {
    width: 100%;
    color: #219CF5;
    margin: 0;
    padding: 10px 0 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  pre {
    border: 1px solid #777;
    padding: 2px 1px;
    white-space: pre-line;
    font-size: 14px;
  }
  div {
    line-height: 1.6 !important;
    font-size: 16px;
  }
  table, td, th {
    > pre {
      border: none;
      margin: 0;
    }
  }
  table {
    width: 100%;
  }
  hr {
    border: 1px solid #ccc;
  }
}
.task__problem-acmp {
  h1, h3, h4 {
    width: 100%;
    color: #219CF5;
    margin: 0;
    padding: 10px 0 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  h2 {
    width: 100%;
    color: #219CF5;
    margin: 0;
    padding: 10px 0 5px;
    font-size: 20px;
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    box-sizing: border-box;
    td, th {
      padding: 0;
      border: 1px solid #777;
    }
    th {
      text-align: center;
      padding: 5px 0;
      letter-spacing: 1.1px;
    }
  }
}
.contest__conditions-link {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 24px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #7A7A7A;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 3px;
}
.contest__conditions-link:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.contest__conditions-link:first-child {
  border-top: 1px solid #EBEBEB;
}
.contest__condition-index {
  font-weight: bold;
}
.contest__condition-name {
  color: #219CF5;
  margin-left: 10px;
}
.contest__sytem {
  padding-left: 28px;
  margin-top: 10px;
}
.contest__conditions-link:visited .contest__condition-name {
  color: #8754C4 !important;
}
.send-content__condition-selector {
  max-width: 400px;
}
.send-content__textarea {
  textarea {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    box-sizing: border-box;
    padding: 10px !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    min-height: 100px !important;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
  }
  textarea:focus {
    border: 2px solid #219CF5 !important;
  }
  md-input-container.md-input-focused
  label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0,3px,0) scale(.75);
    transform: translate3d(0,3px,0) scale(.75);
    margin-left: 0;
  }
  label {
    margin-left: 10px;
  }
}

.status-content {
  md-content {
    background-color: transparent !important;
  }
  md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
  }
  md-content md-tabs md-tabs-wrapper {
    background: white;
  }
  md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: #A3A3A3;
  }
  md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
    color: #219CF5;
  }
}
.sent-list__item {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background-color: #fdfdfd;
  cursor: default;
  .sent-list__cell {
    width: 100%;
    text-align: center;
    padding: 6px 0;
    min-width: 50px;
    max-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .sent-list__cell-loading {
      white-space: nowrap;
    }
  }
  .sent-list__cell-task {
    min-width: 175px;
  }
  &:hover:not(.sent-list__header) {
    background-color: rgba(0, 121, 255, 0.09);
  }
  .sent-list__bold {
    font-weight: bold;
  }
}
.sent-list__header {
  background-color: #f0f0f0;
  font-weight: bold;
}
.sent-list__item:nth-child(2n) {
  background-color: #f8f8f8;
}
.sent-list__item:last-child {
  border-bottom: 0;
}
.sent-list__success {
  background-color: rgba(31, 242, 10, 0.06) !important;
  .sent-list__verdict {
    color: rgba(78, 152, 113, 0.76);
    font-weight: bold;
  }
}
.sent-list__success:hover {
  background-color: rgba(32, 236, 10, 0.13) !important;
}
.sent-list__failed {
  .sent-list__verdict {
    color: rgba(253, 59, 50, 0.76);
    font-weight: bold;
  }
}
.sent-list__failed_type_highlighted {
  background-color: rgba(253, 59, 50, 0.13) !important;
}
.sent-list__failed_type_highlighted:hover {
  background-color: rgba(253, 59, 50, 0.19) !important;
}
.sent-list__unknown {
  .sent-list__verdict {
    color: rgba(255, 142, 53, 0.76);
    font-weight: bold;
  }
}
.sent-list {
  .no-sents {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    color: #777;
  }
  .sent-list__loading .search-spin-layer_ {
    width: 20px;
    height: 20px;
  }
}
.sent-list__source-link {
  text-decoration: none;
}
.source-content__code pre {
  overflow: hidden;
  overflow-x: auto;
  border-radius: 6px;
  width: auto;
}
.monitor-content__row {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background-color: #fdfdfd;
  cursor: default;
  &:first-child {
    border-top: 1px solid #ccc;
  }
  .monitor-content__cell {
    width: 100%;
    text-align: center;
    padding: 6px 0;
    border-left: 1px solid #ccc;
    height: 100%;
    box-sizing: border-box;
    min-width: 50px;
    display: flex;
    align-items: center;
    outline: 0;
    position: relative;
    span, a {
      width: 100%;
      display: block;
    }
  }
  .monitor-content__cell:last-child {
    border-right: 1px solid #ccc;
  }
  .monitor-content__cell-result {
    min-width: 5px;
  }
  .monitor-content__cell_type_accepted {
    font-weight: 100;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .monitor-content__cell_type_clickable {
    cursor: pointer;
    &:active {
      -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
      -moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
      box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
    }
  }
  .monitor-content__cell-participant {
    min-width: 150px;
    display: flex;
    align-items: center;
    span {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
  .monitor-content__cell-solutions {
    min-width: 100px;
    position: relative;
    .monitor-content__cell-solutions_type_after-contest {
      position: absolute;
      width: 22px;
      height: 22px;
      overflow: hidden;
      top: 0;
      right: 0;
      & > div {
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        transform: rotate(45deg);
        top: -50%;
        right: -50%;
        -webkit-transition: all .05s ease-out;
        -moz-transition: all .05s ease-out;
        -ms-transition: all .05s ease-out;
        -o-transition: all .05s ease-out;
        transition: all .05s ease-out;
        outline: none;
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
        &:focus {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  &:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .monitor-content__cell:first-child {
      border-top-left-radius: 3px;
    }
    .monitor-content__cell:last-child {
      border-top-right-radius: 3px;
    }
  }
  &:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    .monitor-content__cell:first-child {
      border-bottom-left-radius: 3px;
    }
    .monitor-content__cell:last-child {
      border-bottom-right-radius: 3px;
    }
  }
  .monitor-content__cell-score {
    min-width: 80px;
  }
}
.monitor-content__row_type_header {
  font-weight: bold;
  background-color: #f0f0f0;
}
.monitor-content__row-my {
  background-color: rgba(255, 215, 152, 0.77) !important;
  .monitor-content__cell {
    border-color: rgba(225, 140, 140, 0.76) !important;
  }
  &:hover {
    background-color: rgba(232, 193, 133, 0.77) !important;
  }
}
.monitor-content__row_group_even {
  background-color: rgba(154, 255, 134, 0.61);
  .monitor-content__cell {
    border-color: #83C699;
  }
}
.monitor-content__row:hover {
  background-color: rgba(0,0,0,0.05);
}
.monitor-content__row:not(.monitor-content__row_type_header):nth-child(2n + 1) {
  background-color: rgba(0,0,0,0.05);
  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
  &.monitor-content__row_group_even {
    background-color: rgba(154, 255, 134, 0.53);
  }
  &.monitor-content__row_group_even:hover {
    background-color: rgba(136, 230, 116, 0.61);
  }
}
.monitor-content__row_group_even:hover {
  background-color: rgba(136, 230, 116, 0.61);
}
.monitor-content__cell_accept-time {
  font-size: 12px;
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .monitor-content__cell_accept-time {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .monitor-content__cell_accept-time {
    font-size: 10px;
  }
}
.task__send {
  text-align: center;
  border-top: 1px solid #219CF5;
  padding: 20px 0 0;
  margin-top: 20px;
  .md-button {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.sent-list__link {
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
  overflow: hidden;
}
.monitor-content__cell_accept-time-too-much {
  font-size: 9px;
}
.monitor-content__no-solutions:not(.monitor-content__row-my) {
  opacity: 0.8;
}
.monitor-content__cell_type_frozen {
  background-color: #FCFF92;
}
.contest__status {
  padding: 10px 0 20px;
  text-align: center;
}
.monitor-content__cell_type_in-practice {
  background-color: #C4F0FF;
}
.logo__content {
  white-space: nowrap;
}
.admin-menu__item {
  text-transform: none;
  font-size: 18px;
  letter-spacing: normal;
  margin: 0;
  color: #959595;
  width: 100%;
  padding: 9px 20px !important;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0 !important;
  border-bottom: 1px solid #E1E1E1;
  display: block;
  * {
    border-radius: 0 !important;
  }
  &.md-primary {
    background-color: #f3f3f3;
  }
  &:last-child {
    border-bottom: 0;
  }
}
.admin-content__menu {
  width: 350px;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
}
.admin-menu {
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.admin-content {
  overflow: hidden;
}
.admin-content__inner {
  margin-left: 357px;
}
.admin-content-layer {
  border: 1px solid #E5E5E5;
  padding: 24px;
  background-color: #fff;
}
.admin-content-layer__inner {
  box-sizing: border-box;
  position: relative;
}
.admin-title {
  font-weight: 100;
}
.admin-contests__button {
  margin-left: 0;
}
.admin-contests__buttons {
  margin-top: 5px;
}
.admin-contests__contest-item {
  .contests-list__item {
    padding: 20px 24px 7px;
  }
  .contests-list__item:hover {
    background: none;
  }
  .contest-item {
    cursor: default;
    -webkit-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
  }
}
.admin-contests__button-wrap {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.contest-creation__datepicker md-datepicker {
  width: 100%;
}
.md-calendar-date-selection-indicator {
  @include transition(all .1 ease-out);
  &:hover {
    background-color: #e0e0e0;
  }
}
.md-datepicker-calendar-pane {
  background-color: #fff;
  .md-calendar-selected-date {
    .md-calendar-date-selection-indicator {
      background-color: #2196F3;
      color: #fff;
    }
  }
  .md-calendar-date-today {
    .md-calendar-date-selection-indicator {
      border: 2px solid;
      border-color: #2196F3;
      box-sizing: border-box;
    }
  }
}
.md-datepicker-input {
  width: 168px;
}
.contest-creation__row {
  padding: 10px 0;
}
.contest-creation__row-title {
  padding: 10px 0;
}
.contest-creation__second-field-inline {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -12px;
  margin-left: 20px;
}
.contest-creation__inner {
  margin: 0 auto;
  max-width: 500px;
}
.chip-circle {
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: relative;
  top: 4px;
  margin-right: 6px;
}
.admin-content__add-contest {
  .md-button {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    top: 25px;
  }
}
.contest-creation__row_type_create {
  padding: 20px 0 0;
  border-top: 1px solid #ccc;
  text-align: center;
}
.animation {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.animation.ng-leave { opacity: 1; }
.animation.ng-leave.ng-leave-active { opacity: 0; }

.animation.ng-enter { opacity: 0; height: 0; }
.animation.ng-enter.ng-enter-active { opacity: 1; height: 50px; }

.animation.ng-enter-stagger,
.animation.ng-leave-stagger{
  /* Задержка анимации */
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0;

  /* Эта часть нужна, чтобы анимация проходила без проблем */
  -webkit-transition-duration: 0;
  transition-duration: 0;
}
.contest-monitor__table-update {
  text-align: right;
}
.sent-list__verdict span {
  text-transform: capitalize;
}
.task__problem-cf_type_gym {
  td, th, table {
    border: 1px solid #555;
    padding: 5px 10px;
    border-spacing: 0;
    border-collapse: collapse;
  }
  th {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding: 9px 15px;
    color: #219CF5;
  }
  a {
    color: #2196f3;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 6px 15px;
    border-radius: 3px;
    transition: background-color .1s ease-out;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
  }
  a:hover {
    background: #ECECEC;
  }
  a:active {
    background: #e8e8e8;
  }
}
.md-button {
  padding: 0 12px;
}
@media screen and (max-width: 450px) {
  .contest-menu__layer {
    min-width: auto;
    width: 100%;
    overflow-x: auto;
  }
  .header__inner {
    min-width: 100%;
  }
  .header__profile {
    position: absolute;
    top: 19px;
    right: 15px;
    height: auto;
  }
  .profile__panel {
    background: #fff;
    border-radius: 4px;
  }
  .logo__text {
    display: none;
  }
  .contest__content {
    min-width: 700px;
  }
  .page__wrapper {
    padding: 24px 0;
  }
  .page__inner {
    width: 100%;
    min-width: auto;
  }
  .status-content {
    font-size: 0.8em;
  }
  .standart-layer {
    width: auto;
    min-width: auto;
  }
  .contests-list {
    font-size: 0.8em;
  }
}
.sent-list__actions-menu {
  top: -5px;
  position: relative;
}
.monitor-content__cell-loading {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
  text-align: center;
  top: 0;
  right: 0;
  .search-spin-layer, .search-spin-layer_ {
    height: 25px;
    width: 25px;
  }
}
.rating-table {
  font-size: 0.95em;

  .monitor-content__row_type_header {
    height: 70px;
  }

  &__header-cell {
    font-size: 0.8em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
  }

  &__subheader-cells {
    border-top: 1px solid #ccc;
    font-weight: normal;
    & > div:not(:first-child) {
      border-left: 1px solid #ccc;
    }
    & > div {
      padding: 6px;
    }
  }

  &__top-cell {
    padding-bottom: 12px;
  }

  .rating-table__results {
    padding: 0 !important;
    & > .monitor-content__cell:first-child {
      border-left: 0;
    }
    & > .monitor-content__cell:last-child {
      border-right: 0;
    }
    &-sum {
      font-weight: bold;
    }
  }

  .monitor-content__cell {
    min-width: unset;
  }
}
