div
  md-checkbox(ng-model='settings.files_location',
  aria-label='File location',
  ng-true-value="'top'"
  ng-false-value="'bottom'")
    | Показывать файлы сверху условия. Текущее положение: {{settings.files_location === 'top' ? "Сверху" : "Снизу"}}

div
  h4 Файлы: {{settings.files.length}}

div.task__files
  div.task__file-wrap(ng-repeat='file in settings.files | orderBy:"file.type"')

    div.task__file-delete
      md-button.md-icon-button(ng-click='deleteFile(file)')
        md-icon(md-svg-src='/img/icons/ic_close_48px.svg', aria-label='Close dialog')

    div(ng-switch='file.type')
      div(ng-switch-when='image')
        a.link(tabindex='{{$index}}', ng-click='openImage($event, file);', click='return false', ng-href='{{file.url}}', target='_blank', title='{{file.title ? file.title : "Приложение" + (settings.files.length > 1 ? (" " + ($index + 1)) : "")}}')
          div.task__file.task__file_type_image(ng-attr-style='background-image: url("{{file.url}}")')

      div(ng-switch-default)
        a.link(tabindex='{{$index}}', ng-href='{{file.url}}', target='_blank')
          div.task__file
            div.task__file-title {{file.title ? file.title : "Приложение" + (settings.files.length > 1 ? (" " + ($index + 1)) : "")}}
            div.task__file-ext
              div(class='task__file-ext-icon task__file-ext-icon_type_{{file.type}}')
              span {{file.type}}

  div.task__file-wrap
    div.task__file(ng-click='addFile($event)')
      div.task__file-add(layout, layout-align='center center')
        md-icon(md-svg-src='/img/icons/ic_add_48px.svg')
